<table class="table_sorties">
    <thead>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Clôture</th>
        <th>inscrits/places</th>
        <th>Etat</th>
        <th>Inscript</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr data-href="{{ path('sortie_details', {id: sortie.id}) }}">
            <td>
                {{ sortie.nom }}
            </td>
            <td>{{ sortie.dateHeureDebut | date('d-M-Y H:m') }} </td>
            <td>{{ sortie.dateLimiteInscription | date('d-M-Y') }}</td>
            {# todo: recuperer le nb d'inscrits  #}
            <td>nbinscrits/{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td class="td_center">x</td>
            <td>
                <a href="{{ path('participant_profil', {id: sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.nom }}
                </a>
            </td>
            <td class="td_center">
                {#  todo: add actins if user organisateur, inscrits, non-inscrit  #}
                Actions
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            })
        })
    });
</script>