{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="main_container">
        {% include 'includes/infobanner.html.twig' %}

        <h2> Filter les sorties</h2>
        <div class="table_filter">
            <div>
                <form>
                    <div>
                        <labeL>CAMPUS</labeL>
                        <input list="campus_list">
                        <datalist id="campus_list">
                            {% for item in campus %}
                            <option value="{{ item.nom }}">
                                {% endfor %}
                        </datalist>
                    </div>
                </form>

            </div>
            <button>Rechercher</button>
        </div>

        <table class="table_result">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscript</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in  sorties %}
                <tr>
                    <th>{{ sortie.nom }}</th>
                    <th>{{ sortie.dateHeureDebut | date('d-M-Y H:m') }} </th>
                    <th>{{ sortie.dateLimiteInscription | date('d-M-Y') }}</th>
                    <th>{{ sortie.nbInscriptionsMax }}</th>
                    <th>{{ sortie.etat.libelle }}</th>
                    <th>x</th>
                    <th>{{ sortie.organisateur.nom }}</th>
                    <th>Actions</th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button>Créer une sortie</button>
    </div>

{% endblock %}
