{% dump(values) %}
{% set arrKey = [] %}
{% set arrData = [] %}
<style>
    .gestion_search {
        display: flex;
    }
</style>
<div>
    <h2 class="page_title">Gérer les {{ title }} </h2>
    <h3>Filter les {{ title }}</h3>
    <div class="gestion_search">
        <label>Le nom contient</label>
        <input type="text">
        <button class="btn-class">Rechercher</button>
    </div>
    <table class="table_{{ title }}">

        <thead>
        <tr>
            {% for value in values %}
                {% for key in value|keys %}
                    {% if key not in arrKey %}
                        <th>{{ key }}</th>
                        {% set arrKey = arrKey|merge([key]) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <th>actions</th>

        </tr>
        </thead>
        <tbody>
            {% for value in values %}
        <tr>
                {% for key, data in value %}
                    {% if data not in arrData %}
                        <td>{{ data }}</td>
                        {% set arrData = arrData|merge([data]) %}
                    {% endif %}
                {% endfor %}
            <td>action</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>


