{% if app.user %}
    <nav class="header_menu">
        <ul class="header_menu_list">
            {% if  app.user.administrateur  %}
                <div>
                    <li><a href="{{ path('villes_main') }}">Villes</a></li>
                    <li><a href="{{ path('campus_main') }}">Campus</a></li>
                </div>
            {% endif %}
            <li><a href="{{ path('main_home') }}">Accueil</a></li>
            <li><a href="{{ path('participant_edit', { id: app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul>
    </nav>
{% endif %}